{:kotoba.app/id "cloud.itonami.isic-2592", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidlz5j6tyqlad2i6ntdg5fupqp2rffdwahgy3f4fzclasl6pp6524", :kotoba.app/embed-url "ipfs://bafkreidlz5j6tyqlad2i6ntdg5fupqp2rffdwahgy3f4fzclasl6pp6524", :published {:archive "https://kotobase.net/ipfs/bafkreidlz5j6tyqlad2i6ntdg5fupqp2rffdwahgy3f4fzclasl6pp6524", :size 73359, :put-status 201, :get-status 200, :at "2026-08-15T13:47:25.089Z"}}
